.search__header {
  display: flex;
  align-items: center;
  height: 7%;
  background-color: #fff;
  .van-icon {
    width: 10%;
    line-height: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .van-search {
    width: 90%;
  }
}